body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
  max-width: 40rem;
  padding: 2rem;
  margin: auto;
  background-color: #0d1117;
  color: #c9d1d9;
  overscroll-behavior-y: none;
}

img {
  max-width: 100%;
}

a {
  color: #58a6ff;
}

h1, h2, strong {
  color: #c9d1d9;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

.muted {
  color: #B0B0B0;
  text-decoration: none;
}

.small {
  font-size: .8em;
}

hr {
  border: 0px;
  border: 1px solid #333333;
}

table {
  empty-cells: show;
  border-color: #333333;
}

/* Add support for light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  a {
    color: #007acc;
  }

  h1, h2, strong {
    color: #000000;
  }

  hr {
    border: 1px solid #cccccc;
  }

  table {
    border-color: #cccccc;
  }
}