<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>

	<h1>{{ .Site.Data.personalize.Name }}</h1>

	<div style="margin-bottom: 2em;"></div>

	<h2><code>{{ .Site.Data.personalize.AboutTitle }}<code></h2>
	<h4>{{ .Site.Data.personalize.About| markdownify }}</h4>

	<div style="margin-bottom: 2em;"></div>

	<h2><code>{{ .Site.Data.personalize.FollowMeTitle }}<code></h2>
	<table style="margin-left: 1em;">
		<tr>
			{{ range .Site.Data.personalize.profiles }}
			{{ partial "profile_link.html" . }}
			{{ end }}
		</tr>
	</table>

	<div style="margin-bottom: 2em;"></div>

	<h2><code> {{ .Site.Data.personalize.ContactMeTitle }}<code></h2>
	<table style="margin-left: 1em;">
		<td>&nbsp;<a href=mailto:{{ .Site.Data.personalize.Email }}><code>{{ .Site.Data.personalize.Email }}<code></a></td>
	</table>

	<div style="margin-bottom: 2em"></div>

	<h2><code>{{ .Site.Data.personalize.MyPosts }}<code></h2>
	{{ range first .Site.Data.personalize.PostLimit (where .Site.RegularPages "Type" "post").ByPublishDate.Reverse }}
	<table style="margin-left: 1em;">
		<tr>
			<td style="padding-left: 0.5em;"><a href="{{ .Permalink }}">{{ .Title }}</a>&nbsp;&nbsp;<time>{{ .Date.Format "January 2, 2006" }}</time></td>
		</tr>
		<tr>
			<td colspan="2" style="padding-left: 1.5em;">{{ .Summary | truncate 250 "..." }}</td>
		</tr>
	</table>
	{{ end }}

	<div>
		<h4><code><a href="posts/">{{ .Site.Data.personalize.AllPosts }}</a><code></h4>
	</div>

	
</body>

</html>
