<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>

	<h1>{{ .Site.Data.personalize.Name }}</h1>

	<h2><code>{{ .Site.Data.personalize.AboutTitle }}<code></h2>
	<h4>{{ .Site.Data.personalize.About| markdownify }}</h4>

	<h2><code>{{ .Site.Data.personalize.FollowMeTitle | markdownify }}<code></h2>
	<table> 
		<tr>
			<td bgcolor="#FFFFFF", style="width:24px">&nbsp<td>
			{{ range .Site.Data.personalize.profiles }}
			{{ partial "profile_link.html" . }}
			{{ end }}
		</tr>
	</table>

	<h2><code> {{ .Site.Data.personalize.ContactMeTitle }}<code></h2>
	<table>
		<td bgcolor="#FFFFFF", style="width:24px">&nbsp</td>
		<td>&nbsp;<a href=mailto:{{ .Site.Data.personalize.Email }}><code>h.shahbazi@tuta.io<code></a></td>
	</table>


	<h2><code>{{ .Site.Data.personalize.MyPosts | markdownify }}<code></h2>
	<div>

		<!-- orders content according to the "publishdate" field in front matter -->
		{{ range first .Site.Data.personalize.PostLimit .Pages.ByPublishDate }}
		<div>
			<a href="{{ .Permalink }}">{{ .Title }}</a><br />
			<time>{{ .Date.Format "January 2, 2006" }}</time>
		</div>
		<br />
		{{ end }}


		{{ if ne .Site.Data.personalize.AllPosts "" }}
			<h2><code><a href="posts/">{{ .Site.Data.personalize.AllPosts | markdownify }}</a><code></h2>
		{{ end }}
	</div>

	{{ if ne .Site.Data.personalize.GoatCounterCode "" }}
		<script data-goatcounter="{{ .Site.Data.personalize.GoatCounterCode }}" async src="//gc.zgo.at/count.js"></script>
	{{ end }}
</body>

</html>
